<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f5e6ca"/>
    <link rel="icon" href="./images/logo/logo.png">
    <link rel="apple-touch-icon" href="./images/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#restaurant-content" class="skip-link">Skip to the content</a>
    <header>
        <div id="header-content">
            <a href="" class="nav-logo">
                <img src="./images/logo/logo.png" width="50" alt="logo">
            </a>
            <button class="icon menu-app" aria-label="menu">
                <i class="fas fa-bars"></i>
            </button>
            <nav>
              <div>
                <button class="icon menu-exit" aria-label="exit">
                    <i class="fas fa-times"></i>
                </button>
                <ul class="menu-list">
                    <li class="menu-list-item"><a href="#/home">Home</a></li>
                    <li class="menu-list-item"><a href="#/favorite">Favorite</a></li>
                    <li class="menu-list-item"><a href="https://www.linkedin.com/in/chandraariwiraditya/">About us</a></li>
                </ul>
              </div>
            </nav>
        </div>
    </header>
    <main>
        <div id="main-content">
        </div>
    </main>
    <footer>
        <div id="upper-footer" tabindex="0">
            <h2>SUBMISSION</h2>
            <P>Chandra Ariwiraditya</P>
        </div>
        <div id="lower-footer" tabindex="0">
            <p>Copyright © 2021 - Restaurant Corner</p>
        </div>
    </footer>
</body>

</html>